.results {
    font-size: 1rem;
    @media #{$breakpoint-lg} {
        font-size: 1.5rem;
    }
    .table-cell {
        padding: .5rem;
        @media #{$breakpoint-lg} {
            padding: 2rem;
        }
    }
}

.info {
    background: white;
    p > small {
        font-size: .8rem;
        color: lighten($spotifind_primary, 45%);
    }
}


.track:nth-child(-n+10){
    display:block;
}

.head {
    color: white;
    display: none;
    padding: .5rem;
    background: lighten($spotifind_primary, 5%);
    @media #{$breakpoint-lg} {
        display: block;
    }
}

.track {
    transition: all 200ms ease;
    display: none;
    padding: .5rem;
    border-bottom: 1px solid lighten($spotifind_primary, 15%);


    &:hover {
        background: lighten($spotifind_primary, 15%);
        a {
            &:hover {
                color: $spotifind_spot;
            }
        }
    }
    &__length {
        color: white;
    }
}
