<div id="results" class="results clearfix">

  <div class="sm-col sm-col-12 md-col-12 lg-col-12 head">
    <div class="sm-col sm-col-4 md-col-4 lg-col-4">
      <div class="table">
        <div class="table-cell">
          Song
        </div>
      </div>
    </div>
    <div class="sm-col sm-col-3 md-col-3 lg-col-2">
      <div class="table">
        <div class="table-cell">
          Artist
        </div>
      </div>
    </div>
    <div class="sm-col sm-col-4 md-col-4 lg-col-4">
      <div class="table">
        <div class="table-cell">
          Album
        </div>
      </div>
    </div>
    <div class="sm-col sm-col-1 md-col-1 lg-col-2">
      <div class="table">
        <div class="table-cell">
          Length
        </div>
      </div>
    </div>
  </div>

  {{#each results}}

    <div class="sm-col sm-col-12 md-col-12 lg-col-12 track">
      <div class="sm-col sm-col-4 md-col-4 lg-col-4">
        <div class="table">
          <div class="table-cell">
            {{spotify-link href name}}
          </div>
        </div>
      </div>

      <div class="sm-col sm-col-3 md-col-4 lg-col-2">
        <div class="table">
          <div class="table-cell">
            {{#each artist in artists}}
              {{spotify-link artist.href artist.name}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="sm-col sm-col-4 md-col-4 lg-col-4">
        <div class="table">
          <div class="table-cell">
            {{spotify-link album.href album.name}}
          </div>
        </div>
      </div>

      <div class="sm-col sm-col-1 md-col-1 lg-col-2 track__length">
        <div class="table">
          <div class="table-cell">
            {{format-time length}}
          </div>
        </div>
      </div>

  </div>
  {{/each}}

</div>

<div class="p2 center info">
    <p>
        <small class="white">We only display the first 10 results right now</small>
    </p>
</div>
