{{outlet}}


<div class="table outline-blue footer">
  <div class="table-cell col-6 footer__about">
      <h4 class="mb1">About</h4>
      <p>
        Made by <a href="http://urre.me">Urban Sanden</a> during <a href="http://kollegorna.se">Kollegorna PDD.</a>
      </p>
  </div>
  <div class="table-cell col-6 footer__more">
      <h4 class="mb1">Learn more</h4>
      <ul>
          <li><a href="http://emberjs.com/">Ember.js</a></li>
          <li><a href="http://www.ember-cli.com/">Ember-cli</a></li>
          <li><a href="https://developer.spotify.com/web-api/">Spotify Metadata API</a></li>
          <li><a href="http://www.basscss.com/">BASSCSS</a></li>
      </ul>

  </div>
</div>
