{{input type="text" class="new-search" placeholder="Enter query..." value=newSearch insert-newline="newSearch" }}
<button class="btn btn-primary btn-sm search-button" {{action "newSearch"}} {{bind-attr disabled=disabled}}>Search</button>
